<div class="container">
  <div class="row">
    <div class="col-md-3 user-info">
      <div class="row">
        <h1><%= gravatar_for @user %></h1>
        <h3><%= @user.name %></h3>
        <%= render "users/follow_form" if logged_in? %>
      </div>
      <div class="row">
        <section class="stats">
        <%= render "shared/stats" %>
      </section>
      </div>
    </div>
    <div class="col-md-9 border-left" id="user-activity">
      <div class="row">
        <% if current_user? @user %>
          <div class="col-md-6">
            <%= link_to words_path, class: "btn btn-info btn-lg btn-user" do %>
              <i class="glyphicon glyphicon-hand-up">
              <%= t "user.word" %></i>
            <% end %>
          </div>
          <div class="col-md-6">
            <%= link_to categories_path, class: "btn btn-info btn-lg
              btn-user " do %>
              <i class="glyphicon glyphicon-hand-up">
              <%= t "user.lesson" %></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <h1 class="border-bottom"><%= t "user.activity.listactivity" %></h1>
      <% @user.activities.by_date.each do |activity|%>
        <div class="row ">
          <h3><%= gravatar_for @user, size: 50 %></h3>
          <p><%= activity.load %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
