<div class="page-word-content">
  <%= render "search_form" %>
  <% @categories.each do |category| %>
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <b> <%= category.name %></b>
        </div>
        <div class="panel-body">
          <div class="category-description">
            <%= category.description.present? ? category.description : t(".blank_description") %>
          </div>
          <div class="pull-right">
            <%= link_to t(".start"), lessons_path(category_id: category),
              method: :post, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= will_paginate @categories %>
</div>
