<div class="content-page-admin">
  <h2 class="text-center"><%= t ".title" %></h2>
  <%= render "search_form" %>
    <div class="flash-massage"></div>
    <table class="table table-bordered" id="table-users">
      <thead>
        <tr>
          <th><%= t ".number_order" %></th>
          <th><%= t ".name" %></th>
          <th><%= t ".email" %></th>
          <th><%= t ".phone" %></th>
          <th><%= t ".gender" %></th>
          <th><%= t ".avatar" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr id="user-<%= user.id %>">
            <td><%= index + 1 %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td><%= user.gender ? t(".female") : t(".male") %></td>
            <td><%= user.avatar %></td>
            <td class="text-center"><%= link_to admin_user_path(user),
              method: :delete, remote: true,
              data: {confirm: "Are you sure?"} do %>
                  <i class="text-danger glyphicon glyphicon-trash"> </i>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= will_paginate @users %>
</div>
